body {
  font-family: Arial;
  margin: 0;
}

.navbar {
  background: #1e3a8a;
  color: white;
  padding: 10px;
}

.container {
  padding: 20px;
}

input, select {
  display: block;
  margin: 10px 0;
  padding: 8px;
}

button {
  padding: 10px 15px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}
